@page "/"
@rendermode InteractiveServer
@using BankingApplication.Models
@using BankingApplication.Interfaces
@inject NavigationManager _navigationManager
@inject Services.AppState _appState
@inject IBankAccountService _bankAccountService
@inject IBankUserService _bankUserService
@inject ITransactionService _transactionService
@inject IPasswordHashingService _passwordHashingService
@inject ISnackbar Snackbar
<MudSnackbarProvider/>

<head>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet" />    
    <link href="_content/MudBlazor/MudBlazor.min.css" rel="stylesheet" />
    <PageTitle>Welcome to the Banking Application</PageTitle>
</head>

<div class="CenterLoginPage">
    <MudPaper class="py-2 px-6 round-lg MarginTop10vh" Width="40%">
        <div class="mud-theme-primary mx-auto py-2 px-6 mx-4 rounded-pill">Please log in:</div>
        <MudTextField @bind-Value="_emailAddress" Label="Enter your e-mail..." Variant="Variant.Filled"/>
        <MudTextField @bind-Value="_password" Label="Enter your password" Variant="Variant.Filled"/>
        <MudButton Variant="Variant.Filled" Color="Color.Primary" class="btn btn-primary my-2" @onclick="SendLoginRequest">Login</MudButton>
    </MudPaper>
</div>

@code {
    private string _emailAddress ="";
    private string _password = "";
    private bool showPasswordAlert = false;

    private void SendLoginRequest()
    {
        var foundUser = _bankUserService.GetUserByEmail(_emailAddress);
        var result = _passwordHashingService.VerifyPassword(foundUser.Password, _password);
        if (!result)
        {
            showLoginErrorAlert();
            return;
        }
        _appState.EmailAddress = _emailAddress;
        _navigationManager.NavigateTo("/HomePage");
    }
    private void showLoginErrorAlert()
    {
        Snackbar.Clear();
        Snackbar.Configuration.PositionClass = Defaults.Classes.Position.TopCenter;
        Snackbar.Add("Password is incorrect", Severity.Error);
    }
}
<script src="_content/MudBlazor/MudBlazor.min.js"></script>
