@using BankingApplication.Interfaces
@using BankingApplication.Models
@using MudBlazor
@inject IDialogService DialogService
@inject IBankAccountService _bankAccountService

<MudPaper Class="d-flex flex-column flex-grow-1 gap-4" Elevation="0">
    <MudTextField @bind-Value="Account.AccountNumber" Label="Acc No." ReadOnly="false" Variant="Variant.Outlined" />
    <MudTextField @bind-Value="Account.Balance" Label="Acc Balance." ReadOnly="true" Variant="Variant.Outlined" Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.AttachMoney" />
    <div class="d-flex justify-center button-container">
        <MudButton @onclick="OpenDialog" Variant="Variant.Filled" Color="Color.Primary">
            Withdraw/Deposit
        </MudButton>
    </div>
</MudPaper>

@code {
    [CascadingParameter]
    public BankAccount Account { get; set; }

    private async Task OpenDialog()
    {
        var parameters = new DialogParameters { ["Account"] = Account };
        var options = new DialogOptions { CloseOnEscapeKey = true };
        var dialog = DialogService.Show<TransactionDialogComponent>("Make a transaction", parameters, options);

    }
}